/* * {
  border: 1px solid black;
} */

html,
body {
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 1px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

h2 {
  margin: 0 4rem 1rem 4rem;
}

.choose-size {
  flex: 1;
  display: flex;
  width: 100%;
  gap: 10px;
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 155px;
  height: 1.25rem;
  background-color: lightseagreen;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  transition: opacity 0.6s;
  padding: 15px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -10%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent lightseagreen;
}

input {
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  outline: none;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
  width: 3.5rem;
  text-align: center;
}

/* Hides the selector arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background-color: #fff;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  transition: all 100ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
  letter-spacing: 1px;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.sketch-pad {
  display: flex;
  width: 40rem;
  height: 40rem;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.square {
  flex: 1;
}
