* {
  border: 1px solid black;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 40rem;
  height: 40rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.square {
  flex: 1;
}
